.detail-hrd-title {
    font-size: 1.4rem;
    color: #d51c48;
    font-weight: 700;
    margin-bottom: 0.2rem;
    padding-left: 20px;
}

.detail-hrd-subtitle {
    color: #6c757d;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding-left: 20px;
}


.detail-hrd-table-title {
    font-weight: 600;
    color: #D51C48;
    margin-bottom: 10px;
}

.detail-hrd-divider {
    border: 1px solid #D51C48;
    margin-top: 5px;
    margin-bottom: 20px;
}

.detail-hrd-badge {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 14px;
    font-size: 13px;
    font-weight: 500;
}

.detail-hrd-badge.done {
    background-color: #e3f2fd;
    color: #1565c0;
}

.detail-hrd-badge.not-done {
    background-color: #eeeeee;
    color: #616161;
}

/* Styling untuk modal cetak laporan */
.modal-title-hrd {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #ffffff;
}

.custom-modal-content {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.custom-modal-header {
    background-color: #D51C48; /* pink tua */
    color: white;
    border-bottom: none;
    padding: 15px 20px;
}

.custom-modal-header .close {
    opacity: 0.9;
}

.modal-body label {
    font-weight: 600;
    color: #555;
}

.badge-status {
    background-color: #e1ecff;
    color: #3366cc;
    font-weight: 600;
    border-radius: 20px;
    padding: 6px 15px;
    display: inline-block;
}




@media (max-width: 768px) {
    .detail-hrd-title {
        font-size: 18px;
    }

    .detail-hrd-btn-cetak {
        font-size: 13px;
        padding: 7px 14px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .detail-hrd-badge {
        font-size: 12px;
        padding: 4px 10px;
    }
}
