.employee-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap:  1rem;
}
.form-employee {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-employee label {
    color: #d51c48;
}
input[readonly] {
  background-color: rgb(247, 247, 247); 
  color: #3d3d3d;
  cursor: default;
}
textarea[readonly] {
  background-color: rgb(247, 247, 247); 
  color: #3d3d3d;
  cursor: default;
}
.employee-data-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.employee-address {
    display: flex;
    flex-direction: column;
}
.employee-address textarea {
    width: 100%;
    height: 150px !important;
    border-radius: 5px;
    padding:  1rem 4.5rem 1rem 1rem;
}
.second-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.experience-date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.select-header {
    color: #555;
}