/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body-forgotpass {
    background: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.logo-mcit {
    display: flex;
    justify-content: center;
}

.logo-mcit img {
    width: 300px;
    margin-bottom: 20px;
    /* display: flexbox;
    align-items: center; */
}

.card-forgotpass {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    width: 400px;
    text-align: left;
    border-top: 3px solid #d61c4e;
}

.title-forgotpass {
    color: #d61c4e;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.subtitle-forgotpass {
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-forgotpass label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #d61c4e;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

input[type="email"]:focus {
    border-color: #d61c4e;
}

.btn-forgotpass {
    width: 100%;
    padding: 12px;
    border: none;
    background: #d61c4e;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-forgotpass:hover {
    background: #b1143d;
}

.success {
    background: #4ade80;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.footer-forgotpass {
    display: flex;
    justify-content: center;
    align-items: end;
}

footer {
    /* margin-top: 200px; */
    margin-bottom: -180px;
    font-size: 13px;
    color: #6b7280;
}
