body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-left {
    width: 30%;
    padding: 4px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-logo {
    width: 80%;
    margin-bottom: 3rem;
}

.welcome {
    font-size: 22px;
    margin-bottom: 2px;
}

.subtitle {
    color: #777;
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 95%;
}

.title-login {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
}

/* Group link & button side by side */
.form-actions {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-top: 80px;
    padding-right: 1rem;
}

.forgot-password {
    color: #D51C48;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
}
.forgot-password:hover {
    color: #D51C48;
}

/* Button tetap rapi meski dalam flex container */
.btn-login {
    background: #D51C48;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.btn-login:hover { background: #D51C48; }

.login-right {
    width: 70%;
    background: url('/images/asset-1.png') center/cover no-repeat;
    position: relative;
}

.overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.overlay-text h2 {
    font-size: 32px;
    margin: 0 0 5px;
}
