body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page:last-child {
    page-break-after: always;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-circle {
    width: 60px;
    height: 60px;
    background-color: #ff8c00f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-right: 15px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-konsultan {
    font-size: 14px;
    font-weight: bold;
    color: #8d8d8d;
}

.logo-mascitra {
    font-size: 20px;
    font-weight: bold;
    color: #ff8c00f1;
}

.document-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.document-number {
    text-align: center;
    margin-bottom: 30px;
}

.document-content {
    text-align: justify;
}

.document-section {
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.party-info {
    margin-bottom: 20px;
}

.party-title {
    margin-bottom: 10px;
}

.party-details {
    margin-left: 0px;
}

.signature-area {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.signature-box {
    width: 45%;
    text-align: center;
}

.signature-line {
    border-top: 1px solid #333;
    margin-top: 9rem;
    width: 100%;
}

.signature-line-employee {
    border-top: 1px solid #333;
    margin-top: 10.9rem;
    width: 100%;
}

.signature-name {
    margin-top: 5px;
}

.correction-note {
    color: green;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid green;
    background-color: #f0fff0;
}

/* Styles khusus untuk lampiran */
.violation-list {
    margin-left: 20px;
}

.violation-item {
    margin-bottom: 10px;
    text-align: justify;
}

.date-location {
    text-align: left;
    margin-top: 30px;
}

.separator {
    border-top: 2px dashed #333;
    margin: 40px 0;
}

.employee-data {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.employee-data td {
    padding: 5px 10px;
    vertical-align: top;
}

.clause-title {
    font-weight: bold;
    margin: 20px 0 10px 0;
    text-align: center;
}
