.card-profile {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.068);
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 100%;
    /* height: 260px; */
}

.top-element {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d51c48;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.top-element h4 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.profile-picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 4rem;
}

.pfp-img {
    border-radius: 100px;      
    width: 150px;
    height: 150px;
    overflow: hidden;
    z-index: 2;
    margin-left: 80px;
    margin-top: -20px;
}

.pfp-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.profile-name {
    color: #d51c48;
}

.profile-name h1 {
    font-size: 20px;
    width: 700;
    margin-bottom: 0.1rem;
}

.profile-name p {
    font-size: 18px;
    width: 500;
    margin: 0;
}

/* identity details */
.profile-identity {
    display: flex;
    flex-direction: column;
    padding: 70px;
    margin-top: -40px;
}

.id-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
}

.id-group {
    display: flex;
    flex-direction: column;
}

.id-group label {
    font-size: 18px;
    font-weight: 700;
    color: #d51c48;
}

.id-group input[type="text"] {
    color: #d51c48;
    border: none;
    background-color: #F8F8F8;
    border-radius: 8px;
    padding-left: 2rem;
    font-weight: 600;
    font-size: 16px;
    width: 400px;
    height: 40px;
}


/* Halaman Edit Profile */
.con-edit-icon {
    position: absolute;
    margin-left: 12rem;
    margin-top: -6rem;
    z-index: 3;
}

.edit-icon {
    background: #d51c48;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568);
}

.edit-icon svg {
    color: #fff;
}