body {
    background-color: #f5f6fa;
    font-family: "Inter", sans-serif;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
}

.sidebar h5 {
    font-weight: 700;
}

.btn-show-sidebar {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    background-color: #085f94;
    border-radius: 50%;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.btn-close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: rgba(22, 138, 167, 0.8);
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    font-size: 19px;
}

.sidebar .nav-link {
    color: #6c757d;
    font-weight: 500;
    border-radius: 8px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sidebar .nav-link.active {
    color: #d51c48;
    font-weight: 600;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: #d51c48;
}

.sidebar small {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.logout-btn {
    border-radius: 12px;
    font-weight: 600;
}
