.title-report-pm {
    font-size: 1.4rem;
    font-weight: 700;
    color: #D51C48;
    margin-bottom: 0.2rem;
    padding-left: 20px;
}

.subtitle-report-pm {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 20px;
}

.kegiatan-harian-container {
    padding: 20px;
}

.btn-filter {
    background-color: #d51c48 !important;
    border-color: #d51c48 !important;
    border-radius: 20px;
    color: #ffffff !important;
    font-size: 15px !important;
}

.btn-filter:hover {
    background-color: #ff557d !important;
    border-color: #ff557d !important;
    color: #ffffff !important;
}

.section-header h1 {
    color: #5a5c69;
    font-weight: 700;
}

@media (max-width: 768px) {
    .table-responsive {
        border: 1px solid #e3e6f0;
    }

    .card-body {
        padding: 15px;
    }
}
